.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4d7dd;
  padding: 10px 20px;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  width: 80px;
  height: 80px;
border-radius: 50%;}

.navbar-title {
  font-size: 2.5rem;
  color: #7f4c63;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
    text-decoration: none;
  color: #7f4c63;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 20px;
}

.navbar-links a:hover {
  color: #a45c85;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 10px 0;margin: 10px 0;
}

.navbar-search input {
  padding: 5px 10px;
  border: none;

  outline: none;
   font-size: 16px;
  width: 150px;
}

.navbar-search button {
  background-color: #b88aa6;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor:pointer;
   font-size: 20px;
  transition: background-color 0.3s ease;
}

.navbar-search button:hover {
  background-color: #a45c85;
}
.navbar-icons {
  display: flex;
  gap: 15px;
  font-size: 1.4rem;
}

.navbar-icons a {
  color: #7f4c63;
}

.navbar-icons a:hover {
  color: #a45c85;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .navbar-search {
    width: 100%;
  }

  .navbar-search input {
    width: 100%;
  }
}